@using Talky.EntityLayer.Concrete
@model List<Channel>

@foreach (var item in Model)
{
    <a href="/Channel/Index/@item.Id" class="list-group-item list-group-item-action channell">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">@item.Name</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Last message</p>
    </a>
}