@using Talky.EntityLayer.Concrete
@model Server
@{
    ViewBag.Title = "Index";
}

<div class="col-3 channel-side">
    <div class="list-group">
        <div style="z-index: 100; border-bottom:1px solid #d3d3d4; padding: 20px; margin-bottom: 20px;" class="list-group-item list-group-item-action sticky-top bg-dark text-white" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 serverName" id="server-@Model.Id" onload="Active(@Model.Id)">@Model.Name</h5>
                <small>Owner: @@@Model.User.Name</small>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-sm">New Channel</button>
            </div>
        </div>
        <div id="ChannelGetAll">
            <!--Jquery-->
        </div>
    </div>
</div>
<div class="col-7 message-side" style="background: #303942 url(../../Content/Talky.png) center no-repeat;">

</div>
<div class="col-2 user-side pt-1">
    <h2 class="text-center text-white border-bottom">@Model.Name - Users</h2>
    <div class="row m-0">
        <div class="col p-0">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action"><img class="serverlogo" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"> ufukgulec</a><a href="#" class="list-group-item list-group-item-action"><img class="serverlogo" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"> ufukgulec</a><a href="#" class="list-group-item list-group-item-action"><img class="serverlogo" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"> yunusbaser</a>
                <a href="#" class="list-group-item list-group-item-action"><img class="serverlogo" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"> ufukgulec</a><a href="#" class="list-group-item list-group-item-action"><img class="serverlogo" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"> ufukgulec</a><a href="#" class="list-group-item list-group-item-action"><img class="serverlogo" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"> yunusbaser</a><a href="#" class="list-group-item list-group-item-action"><img class="serverlogo" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"> ufukgulec</a><a href="#" class="list-group-item list-group-item-action"><img class="serverlogo" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"> ufukgulec</a><a href="#" class="list-group-item list-group-item-action"><img class="serverlogo" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"> yunusbaser</a><a href="#" class="list-group-item list-group-item-action"><img class="serverlogo" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"> ufukgulec</a><a href="#" class="list-group-item list-group-item-action"><img class="serverlogo" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"> ufukgulec</a>
            </div>
        </div>
    </div>
</div>